
  
.fondo-recuadro
  background: url('../assets/curso/intro/fondo-recuadro.png')
  background-position: center
  background-size: auto
  background-repeat: no-repeat
  border-bottom: 4px solid #008F85
  border-radius: 8px
  
  
.resnone-lg
  display: none
  
.bloque-texto-b.color-secundario:before 
  background-color: #EEEEF2

.bloque-texto-b:before 
  left: 26%

@media screen and ( max-width: 992px)
  .fondo-recuadro
    background: url('../assets/curso/intro/fondo-recuadro2.png')
    background-size: cover
    background-repeat: no-repeat
    border-bottom: 4px solid #008F85
    border-radius: 0
    
  .resnone
    display: none
  .resnone-lg
    display: block